body {
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #555;
}

hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}

form {
    margin-bottom: 20px;
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

button, a.button-style {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover, a.button-style:hover {
    filter: brightness(85%);
}

button {
    background-color: #008CBA;
}

a.button-style {
    color: white;
    background-color: #306090;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #008CBA;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover {
    color: #005F6B;
}

.challenge-solved {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    padding-left: 3rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;

    background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Partying%20Face.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}