body {
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #555;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

form {
    max-width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

button, a.button-style {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
}

button:hover, a.button-style:hover {
    filter: brightness(85%);
}

button {
    background-color: #008CBA;
}

a.button-style {
    background-color: #306090;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #008CBA;
    font-weight: bold;
}

ul li a:hover {
    color: #005F6B;
}
