@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    line-height: 1.5;
}

.container {
    width: 450px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ol {
    padding: 0;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

button, a.button-style {
    padding: 10px 20px;
    background-color: #3366cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover, a.button-style:hover {
    filter: brightness(85%);
}

button {
    background-color: #008CBA;
}

a.button-style {
    background-color: #306090;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p:has(.button-style) {
    margin: 1.5rem 0 0.75rem;
}

a {
    color: #306090;
    text-decoration: none;
}

li {
    list-style-type: none;
}
